<!DOCTYPE html>
<html>

<head>
  <title>404: Page Not Found</title>
  <style>
    /* Agrega estilos CSS para centrar la imagen y el texto */
    body {
      /* background-color: #000000;
        color: #ffffff; */
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100vh;
    }

    img {
      max-width: 100%;
      height: auto;
    }

    p {
      font-size: 2em;
    }
  </style>
</head>

<body>
  <p>Page Not Found</p>
  <img src="/Assets/404.png" alt="404: Page Not Found" />
</body>

</html>